* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 800px;
    align-items: center;
    margin: 20px auto;
    list-style: none;
    position: relative;
}
  
.square-div {
    color: white;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
}
