* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
}

#grid-container {
    display: grid;
    margin: auto;
    height: 500px;
    width: 500px;
}

div {
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
  }